.bottle {
	display: inline-block;
	max-width: 50px;
	text-align: center;
	line-height: 0px;
}

.bottle-head {
	width: 40px;
	height: 15px;
	border-top: 3px solid black;
	border-radius: 6px;
}

.bottle-body {
	width: 50px;
	height: 60px;
	border-bottom: 3px solid black;
	border-radius: 12px 12px 6px 6px;
}

.bottle-head, .bottle-body {
	display: inline-block;
	border-left: 3px solid black;
	border-right: 3px solid black;
	box-sizing: border-box;
	overflow: hidden;
}

.filler {
	background: white;
	display: block;
	height: 100%;
}

.bottle-description {
	font-size: 1.5rem;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.btn.bottle-color-picker {
	width: 2.5rem;
	height: 2.5rem;
	margin: 1ex;
}

.btn.bottle-color-picker.active {
	outline: double black;
	outline-width: thick;
}
